/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
}

/* Navbar Links */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #00aced;
}

/* Hamburger Menu Icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    color: white;
    font-size: 24px;
}

/* Responsive Menu Styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-media a:hover {
    color: #00aced;
}
